    <section class="contact-form padding">
      <div class="row">
        <div class="col text-center">
        <h2>Questions? Let us know!</h2>
        <form method="POST" action="http://formspree.io/info@gigayeast.com">
          <input type="text" name="name" placeholder="NAME">
          <input type="text" name="subject" placeholder="SUBJECT">
          <input type="email" name="email" placeholder="EMAIL">
          <input type="tel" name="phone" placeholder="PHONE">
          <textarea name="message" placeholder="QUESTION"></textarea>
          <button class="button-primary button-2" type="submit">SUBMIT</button></div>
        </form>
        </div>
      </div>
    </section>
