#search-col {
  padding: 0;
  margin: 0;
  #search {
    height: 25vh;
    width: 100vw;
    background-color: #EFEFEF;
    border-top: 1px solid #A2A4A6;
    border-bottom: 1px solid #A2A4A6;
    border-left: none;
    border-right: none;
    border-image: none;
    padding-left: 10%;
    font-size: 4rem;
    font-family: $global-font-family-light;
    text-transform: uppercase;
    &:focus {outline: none;}
  }
}